h1 {
    font-size: 3rem;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-container {
    text-align: center;
    max-width: 50%;
}

button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: var(--main-dark-clr);
    color: var(--main-light-clr);
    font-size: 1.05rem;
    cursor: pointer;
}

button:hover {
    transform: scale(1.025);
    transition: transform 100ms ease;
    background: var(--main-accent-clr);
}

#wave {
    position: absolute;
    bottom: -100px;
    width: 100%;
    pointer-events: none;
}

@media only screen and (max-width: 600px) {
    #wave {
        bottom: 0 !important;
    }
}