:root {
    --main-accent-clr: #5865F2;
    --main-dark-clr: #171717;
    --main-light-clr: #EDEDED;
} 

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--main-dark-clr);
    background: var(--main-light-clr);
    overflow-x: hidden;
}

h1 {
    margin: 0;
    font-size: 4rem;
}

h2 {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: 
    'hd'
    'mn'
}

header {
    grid-area: hd;
    background: var(--main-dark-clr);
    display: flex;
    justify-content: right;
}

main {
    grid-area: mn;
    background: var(--main-light-clr);
    overflow: hidden;
    position: relative;
}

/* Logo */

.logo-container {
    position: absolute;
    height: 10vh;
    left: 15px;
    display: flex;
    align-items: center;
    color: var(--main-light-clr);
}

.logo-container > p {
    font-size: 1.75rem;
}

/* Nav Desktop */

aside, #menu-btn, #overlay {
    display: none;
}

#desktop-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

#desktop-nav ul {
    display: flex;
    justify-content: center;
}

#desktop-nav ul li {
    list-style: none;
    margin: 0 40px;
}

#desktop-nav a {
    opacity: 0.7;
    position: relative;
}

#desktop-nav a:hover{
    opacity: 1;
}

#desktop-nav a:hover::after, .current a::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0px;
    background: var(--main-accent-clr);
    height: 3px;
    width: 100%;
}

a {
    color: var(--main-light-clr);
    text-decoration: none;
}

.h-linebreak {
    height: 2px;
    width: 85%;
    background: var(--main-dark-clr);
    opacity: 0.4;
    position: absolute;
    bottom: 10px;
}

ul {
    list-style: none;
}

/* Nav mobile  */

.side-menu-open {
    right: 0; 
}

.overlay-open {
    display: block !important;
    animation-name: overlay-open;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease; 
}

@keyframes overlay-open {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 0.5;
    }
  }

@media only screen and (max-width: 700px) {

    #desktop-nav {
        display: none !important; 
    }

    aside, #menu-btn {
        display: block !important;
    }

    aside {
        width: 70vw;
        height: 100vh;
        background: var(--main-dark-clr);
        position: absolute;
        right: -70vw;
        transition: right 150ms ease;
        z-index: 998;
    }

    #menu-btn {
        position: absolute;
        width: 75px;
        height: 10vh;
        right: 0;
        transition: right 150ms ease;
        display: flex !important;
        justify-content: center;
        align-items: center;
        /* z-index: 999; */
    }

    #burger-icon, #burger-icon::before, #burger-icon::after {
        width: 75%;
        height: 5px;
        background: var(--main-light-clr);
        border-radius: 5px;
        position: relative;
    }

    #burger-icon::before {
        content: "";
        position: absolute;
        width: 100%;
        top: -15px;
    }

    #burger-icon::after {
        content: "";
        position: absolute;
        width: 100%;
        top: 15px;
    }

    #overlay {
        position: absolute;
        background: black;
        opacity: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 997;
    }

    #mobile-nav {
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
    }

    #mobile-nav ul {
        padding-inline-start: 0px;
    }

    #mobile-nav ul li {
        list-style: none;
        margin: 75px 0;
        text-align: center;
    }

    #mobile-nav a {
        font-size:1.5rem;
    }

    #menu-close-btn {
        width: 50px;
        height: 50px;
        margin: 10px 10px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu-close-btn div, #menu-close-btn div::before{
        height: 5px;
        width: 100%;
        border-radius: 3px;
        background: var(--main-light-clr);
        transform: rotate(45deg);
        position: relative;
    }

    #menu-close-btn div::before {
        content: "";
        position: absolute;
        transform: rotate(90deg);
    }
    
}

/* Home */

/* #home-container {
    display: grid;
    grid-template-rows: 10vh 90vh;
    grid-template-areas: 
    'hd'
    'mn'
} */

#home-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-container {
    text-align: center;
    max-width: 50%;
}

#join-btn {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: var(--main-dark-clr);
    color: var(--main-light-clr);
    font-size: 1.05rem;
    cursor: pointer;
}

#join-btn:hover {
    transform: scale(1.025);
    transition: transform 100ms ease;
    background: var(--main-accent-clr);
}

#wave {
    position: absolute;
    bottom: -100px;
    width: 100%;
    pointer-events: none;
}

@media only screen and (max-width: 600px) {
    #wave {
        bottom: 0 !important;
    }
}

/* About */

#about-container {
    grid-template-rows: 10vh auto;
}

#about-container h1 {
    font-size: 4rem;
    font-family: 'Lora', serif;
}

#about-container p {
    font-size: 125%;
}

#about {
    grid-area: abt;
}

#members {
    grid-area: mbs;
    padding: 75px 0;
}

#rules {
    grid-area: rls;
    padding: 50px 0;
}

#contact {
    grid-area: cnt;
}

#about-container section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    min-height: 70vh;
}

#rules ul {
    list-style: disc;
    padding: 0;
}

#rule-list {
    text-align: left;
}

#about-container svg {
    width: 40%;
}

#about-container .text {
    text-align: center;
    max-width: 30%;
}

#members-list {
    display: flex;
    gap: 5px;
}

#members-list ul {
    padding: 0;
}

#members-list p {
    font-size: 1.25rem;
    margin-left: 5px;
}

#members-list li {
    display: flex;
    align-items: center;
}

#about-container .col {
    text-align: left;
    max-width: 50%;
}

#about-container .p-pic {
    height: 1.5rem;
    border-radius: 50%;
}

#rules-svg {
    margin-bottom: 50px;
}

@media only screen and (max-width: 700px) {
    #about-container h1 {
        font-size: 3rem;
    }

    #about-container section {
        display: flex;
        flex-direction: column;
    }

    #members {
        flex-flow: column-reverse;
    }

    #about-container .text {
        text-align: center;
        max-width: 80%;
    }

    #members-list p {
        font-size: 1.4rem;
        margin-left: 5px;
    }

}

/* Events */

#event-container {
    grid-template-rows: 10vh 100%;
}

#event-container main {
    display: grid;
    grid-template-rows: auto 60vh 60vh auto auto;
    grid-gap: 30px;
    padding: 30px 30px 0px 30px;
    grid-template-areas: 
    't1 t1 t1 t1 t1 t1'
    'e1 e1 e1 e1 e2 e2'
    'e3 e3 e3 e4 e4 e4'
    't2 t2 t2 t2 t2 t2'
    'oe oe oe oe oe oe'
}

#event-container h1 {
    color: var(--main-light-clr);
}

.e-small h1 {
    font-size: 2.5rem;
}

#event-container h2 {
    color: var(--main-light-clr);
}

#event-container p {
    color: var(--main-light-clr);
    margin: 0;
}

#event-container #title-container {
    grid-area: t1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-container h1 {
    color: var(--main-dark-clr);
}

#title-container h2 {
    color: var(--main-dark-clr);
}

#event-1 {
    grid-area: e1;
}

#event-2 {
    grid-area: e2;
    background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(../imgs/image1.1.jpg);
    background-size: cover;
}

#event-3 {
    grid-area: e3;
    background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(../imgs/image2.jpg);
    background-size: cover;
}

#event-4 {
    grid-area: e4;
    background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(../imgs/image5.jpg);
    background-size: cover;
}

#old-events {
    grid-area: oe;
    display: flex;
    flex-direction: column;
}

#title2-container {
    grid-area: t2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#title2-container h2 {
    color: var(--main-dark-clr);
    font-size: 2.5rem;
}

.event {
    border-radius: 2px;
    background: var(--main-dark-clr);
    display: flex;
    position: relative;
    overflow: hidden;
    /* filter: drop-shadow(7px 7px 15px black); */
    box-shadow: 7px 7px 15px black;
    transition: transform 100ms ease;
}

.old-event {
    background: var(--main-dark-clr);
    /* filter: drop-shadow(5px 5px 8px black); */
    box-shadow: 5px 5px 8px black;
    padding: 10px;
    border-radius: 2px;
    margin: 10px;
    transition: transform 100ms ease;
}

.event:hover, .event:focus-within, .old-event:hover {
    transform: scale(1.01);
}

.text-container p {
    padding: 15px;
}

.e-large .text-container {
    width: 70%;
    text-align: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(../imgs/image3.1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.e-large .date-container {
    width: 30%;
    height: 100%;
    background: var(--main-dark-clr);
    filter: drop-shadow(10px 0px 30px black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.date-container * {
    padding: 0;
    margin: 0;
}

.e-large .date {
    font-size: 3rem;
}

.e-large .weekday {
    font-size: 1.5rem;
}

.e-large .time {
    font-size: 1.3rem;
}

.e-large .time-left {
    font-size: 1.1rem;
}

.e-small .date {
    font-size: 2rem;
}

.e-small .weekday {
    font-size: 1.25em;
}

.e-large .time {
    font-size: 1.1rem;
}

.e-small .time-left {
    font-size: 1rem;
}

.e-small .text-container {
    height: 70%;
    /* background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(https://picsum.photos/500/500); */
    text-align: center;
    padding: 10px;
}

.e-small .date-container {
    background: var(--main-dark-clr);
    filter: drop-shadow(0px -10px 30px black);
    padding: 10px 20px;
    text-align: center;
}

.e-small {
    display: flex;
    flex-direction: column;
}

#event-1-small {
    display: none;
}

.event h2 {
    font-size: 3rem;
}

@media only screen and (max-width: 700px) {
    #event-container main {
        grid-template-rows: auto;
        grid-template-areas:
        't1'
        'e1'
        'e2'
        'e3'
        'e4'
        't2'
        'oe'
    }

    #event-container #title-container {
        text-align: center;
    }

    #event-container h1 {
        font-size: 3rem;
    }

    #event-container h2 {
        font-size: 1.25rem;
    }

    #event-1 {
        display: none;
    }

    #event-1-small {
        display: flex;
        background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(https://picsum.photos/1000/700);
        background-size: cover;
    }

    .event h2 {
        font-size: 3rem !important;
    }
}

/* Announcements */

#announcements-container {
    grid-template-rows: 10vh auto;
}

#announcements-container main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#announcements-container #title-container {
    grid-area: t1;
    text-align: center;
    padding: 20px;
}

#posts {
    display: grid;
    width: 85%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 30px;
}

#pinned-post {
    background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(../imgs/image6.jpg);
    background-size: cover;
    width: 85%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    transition: transform 100ms ease;
    box-shadow: 10px 10px 20px black;
    border-radius: 2px;
    color: var(--main-light-clr);
}

#pinned-post h2 {
    font-size: 3rem;
}

#pinned-post p {
    font-size: 1.5rem;
}

.post {
    background: var(--main-dark-clr);
    color: var(--main-light-clr);
    transition: transform 100ms ease;
    filter: drop-shadow(5px 5px 10px black);
    border-radius: 2px;
    padding: 15px;
}

.post:hover, #pinned-post:hover {
    transform: scale(1.01);
}

@media only screen and (max-width: 700px) {
    #posts {
        grid-template-columns: repeat(1, 1fr);
    }

    #pinned-post {
        height: 300px;
        text-align: center;
    }

    #pinned-post h2 {
        font-size: 2.25rem;
    }
    
    #pinned-post p {
        font-size: 1.4rem;
    }

}